useDynLib(IFSPlot, .registration=TRUE)
export(RunIFS2D, RunIFS3D, RunJSONIFS2D, RunJSONIFS3D)
importFrom(Rcpp, evalCpp)
importFrom(gplots, rich.colors)
importFrom(reshape2, melt)
importFrom("rgl", "plot3d", "par3d")
importFrom(jsonlite, toJSON)
importFrom("grDevices", "dev.off", "gray", "palette", "png")
importFrom("graphics", "image", "par")
importFrom("magick", "image_read", "image_transparent", "image_write")
